In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/rohit-sharma-centuries/rohit_sharma.csv

In [2]:
df = pd.read_csv('/kaggle/input/rohit-sharma-centuries/rohit_sharma.csv')
df.head()

,Century No.,Date,Score,Against,Pos.,Inn.,Cap. Yes/No,Out/Notout,Man Of Match,H/A/N,Result
0,1,06-11-2013,177,West Indies,6,2,0,0,1,Home,Won
1,2,14-11-2013,111,West Indies,6,2,0,1,0,Home,Won
2,3,24-11-2017,102,Sri Lanka,6,2,0,1,0,Home,Won
3,4,02-10-2019,176,South Africa,2,1,0,0,1,Home,Won
4,5,02-10-2019,127,South Africa,2,3,0,0,1,Home,Won

In [3]:
df.shape

(43, 11)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Century No.   43 non-null     int64
 1   Date          43 non-null     object
 2   Score         43 non-null     int64
 3   Against       43 non-null     object
 4   Pos.          43 non-null     int64
 5   Inn.          43 non-null     int64
 6   Cap. Yes/No   43 non-null     int64
 7   Out/Notout    43 non-null     int64
 8   Man Of Match  43 non-null     int64
 9   H/A/N         43 non-null     object
 10  Result        43 non-null     object
dtypes: int64(7), object(4)
memory usage: 3.8+ KB

In [5]:
df.describe()

,Century No.,Score,Pos.,Inn.,Cap. Yes/No,Out/Notout,Man Of Match
count,43.000000,43.000000,43.000000,43.000000,43.000000,43.000000,43.000000
mean,22.000000,136.930233,1.697674,1.534884,0.139535,0.325581,0.604651
std,12.556539,35.956585,1.389328,0.591561,0.350605,0.474137,0.494712
min,1.000000,100.000000,1.000000,1.000000,0.000000,0.000000,0.000000
25%,11.500000,111.000000,1.000000,1.000000,0.000000,0.000000,0.000000
50%,22.000000,125.000000,1.000000,1.000000,0.000000,0.000000,1.000000
75%,32.500000,151.000000,2.000000,2.000000,0.000000,1.000000,1.000000
max,43.000000,264.000000,6.000000,3.000000,1.000000,1.000000,1.000000

In [6]:
df.dtypes

Century No.      int64
Date            object
Score            int64
Against         object
Pos.             int64
Inn.             int64
Cap. Yes/No      int64
Out/Notout       int64
Man Of Match     int64
H/A/N           object
Result          object
dtype: object

In [7]:
df.isnull().sum()

Century No.     0
Date            0
Score           0
Against         0
Pos.            0
Inn.            0
Cap. Yes/No     0
Out/Notout      0
Man Of Match    0
H/A/N           0
Result          0
dtype: int64

In [8]:
df.duplicated().sum()

0

In [9]:
df['Date'] = pd.to_datetime(df['Date'])

/tmp/ipykernel_20/3386729631.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df['Date'] = pd.to_datetime(df['Date'])

In [10]:
df['Against'].value_counts()

Australia       9
Sri Lanka       8
South Africa    7
West Indies     6
England         5
Bangladesh      3
New Zealand     2
Pakistan        2
Zimbabwe        1
Name: Against, dtype: int64

In [11]:
df['Pos.'].value_counts()

1    29
2     9
6     3
4     2
Name: Pos., dtype: int64

In [12]:
df['Inn.'].value_counts()

1    22
2    19
3     2
Name: Inn., dtype: int64

In [13]:
df['Cap. Yes/No'].value_counts()

0    37
1     6
Name: Cap. Yes/No, dtype: int64

In [14]:
df['Out/Notout'].value_counts()

0    29
1    14
Name: Out/Notout, dtype: int64

In [15]:
df['Man Of Match'].value_counts()

1    26
0    17
Name: Man Of Match, dtype: int64

In [16]:
df['H/A/N'].value_counts()

Home       23
Away       12
Neutral     8
Name: H/A/N, dtype: int64

In [17]:
df['Result'].value_counts()

Won     34
Lost     8
Won      1
Name: Result, dtype: int64