In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/the-weather-of-187-countries-in-2020/the weather of 187 countries in 2020.csv

In [2]:
df= pd.read_csv('/kaggle/input/the-weather-of-187-countries-in-2020/the weather of 187 countries in 2020.csv')
df.shape

/tmp/ipykernel_20/3797253022.py:1: DtypeWarning: Columns (15,16,17,18,22) have mixed types. Specify dtype option on import or set low_memory=False.
  df= pd.read_csv('/kaggle/input/the-weather-of-187-countries-in-2020/the weather of 187 countries in 2020.csv')

(1048575, 23)

In [3]:
df.head()

,STATION,Country/Region,DATE,Year,Month,Day,PRCP,SNWD,TAVG,TMAX,...,LONGITUDE,ELEVATION,PRCP_ATTRIBUTES,TAVG_ATTRIBUTES,TMAX_ATTRIBUTES,TMIN_ATTRIBUTES,DAPR,MDPR,WESD,SNWD_ATTRIBUTES
0,TZ000063894,Comoros,2020-01-22,2020,1,22,10.9,NaN,27.6,30.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,TZ000063894,Comoros,2020-01-23,2020,1,23,0.0,NaN,26.7,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,TZ000063894,Comoros,2020-01-24,2020,1,24,9.4,NaN,27.9,30.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,TZ000063894,Comoros,2020-01-25,2020,1,25,0.3,NaN,27.9,30.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,TZ000063894,Comoros,2020-01-26,2020,1,26,0.0,NaN,28.2,31.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 23 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   STATION          1048575 non-null  object
 1   Country/Region   1048575 non-null  object
 2   DATE             1048575 non-null  object
 3   Year             1048575 non-null  int64
 4   Month            1048575 non-null  int64
 5   Day              1048575 non-null  int64
 6   PRCP             738462 non-null   float64
 7   SNWD             214352 non-null   float64
 8   TAVG             812229 non-null   float64
 9   TMAX             666841 non-null   float64
 10  TMIN             694366 non-null   float64
 11  SNOW             103991 non-null   float64
 12  LATITUDE         102307 non-null   float64
 13  LONGITUDE        102307 non-null   float64
 14  ELEVATION        102307 non-null   float64
 15  PRCP_ATTRIBUTES  6007 non-null     object
 16  TAVG_ATTRIBUTES  3850 non-null     object
 17  TMAX_ATTRIBUTES  5637 non-null     object
 18  TMIN_ATTRIBUTES  5874 non-null     object
 19  DAPR             1263 non-null     float64
 20  MDPR             81 non-null       float64
 21  WESD             2 non-null        float64
 22  SNWD_ATTRIBUTES  354 non-null      object
dtypes: float64(12), int64(3), object(8)
memory usage: 184.0+ MB

In [5]:
df.describe()

,Year,Month,Day,PRCP,SNWD,TAVG,TMAX,TMIN,SNOW,LATITUDE,LONGITUDE,ELEVATION,DAPR,MDPR,WESD
count,1048575.0,1.048575e+06,1.048575e+06,738462.000000,214352.000000,812229.000000,666841.000000,694366.000000,103991.000000,102307.000000,102307.000000,102307.000000,1263.00000,81.000000,2.000000
mean,2020.0,4.270095e+00,1.591403e+01,2.677177,152.121545,14.514089,17.819442,7.332128,3.793184,37.785974,73.215435,797.540204,5.33175,0.958025,0.050000
std,0.0,1.809264e+00,8.764939e+00,8.732044,301.262503,13.266343,13.493080,13.154970,19.216583,11.690114,71.593997,1103.566712,7.19394,1.653137,0.070711
min,2020.0,1.000000e+00,1.000000e+00,0.000000,0.000000,-56.200000,-55.000000,-65.000000,0.000000,-17.817000,-140.850000,0.600000,1.00000,0.000000,0.000000
25%,2020.0,3.000000e+00,8.000000e+00,0.000000,0.000000,6.111111,8.400000,-0.500000,0.000000,30.533000,80.083000,68.000000,2.00000,0.000000,0.025000
50%,2020.0,4.000000e+00,1.600000e+01,0.000000,0.000000,16.600000,19.400000,8.500000,0.000000,38.233000,105.183000,266.000000,3.00000,0.280000,0.050000
75%,2020.0,6.000000e+00,2.400000e+01,1.400000,221.000000,25.555556,28.800000,17.200000,0.000000,45.283000,116.333000,1099.000000,5.00000,1.510000,0.075000
max,2020.0,7.000000e+00,3.100000e+01,447.000000,52900.000000,42.900000,51.200000,36.700000,625.000000,82.500000,131.983000,4701.000000,61.00000,9.240000,0.100000

In [6]:
df.dtypes

STATION             object
Country/Region      object
DATE                object
Year                 int64
Month                int64
Day                  int64
PRCP               float64
SNWD               float64
TAVG               float64
TMAX               float64
TMIN               float64
SNOW               float64
LATITUDE           float64
LONGITUDE          float64
ELEVATION          float64
PRCP_ATTRIBUTES     object
TAVG_ATTRIBUTES     object
TMAX_ATTRIBUTES     object
TMIN_ATTRIBUTES     object
DAPR               float64
MDPR               float64
WESD               float64
SNWD_ATTRIBUTES     object
dtype: object

In [7]:
df.isnull().sum()

STATION                  0
Country/Region           0
DATE                     0
Year                     0
Month                    0
Day                      0
PRCP                310113
SNWD                834223
TAVG                236346
TMAX                381734
TMIN                354209
SNOW                944584
LATITUDE            946268
LONGITUDE           946268
ELEVATION           946268
PRCP_ATTRIBUTES    1042568
TAVG_ATTRIBUTES    1044725
TMAX_ATTRIBUTES    1042938
TMIN_ATTRIBUTES    1042701
DAPR               1047312
MDPR               1048494
WESD               1048573
SNWD_ATTRIBUTES    1048221
dtype: int64

In [8]:
df.duplicated().sum()

22456